doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title ip location
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css', integrity='sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==', crossorigin='')
    style.
      html, body{
      width: 99%;
      height: 99%;
      }
      #map{
      width: 80%;
      height: 80%;
      }
  body
    h2 ip
    p #{ip}
    h2 region
    p #{region_name}
    h2 city
    p #{city}
    h2 location
    p #{latitude},#{longitude}
    #map
    script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js', integrity='sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==', crossorigin='')
    script.
      var map;
      map = L.map('map').setView([23.9037, 121.0794], 8);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '<a href="https://www.openstreetmap.org/">OSM</a>',
      maxZoom: 18,
      }).addTo(map);
      var marker = L.marker([#{latitude},#{longitude}]);
      marker.addTo(map);
